<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>pathWhiteList</key>
    <array>
      <string>/Applications/</string>
      <string>/Library/Application Support/</string>
      <string>/usr/local/</string>
      <string>/Library/Internet Plug-Ins/</string>
    </array>
    <key>familyControlsEnabled</key>
    <true/>
    <key>pathBlackList</key>
    <array>
      <string>/Applications/App Store.app/</string>
      <string>/Applications/Automator.app/</string>
      <string>/Applications/FaceTime.app/</string>
      <string>/Applications/Game Center.app/</string>
      <string>/Applications/Time Machine.app/</string>
      <string>/Applications/Messages.app/</string>
      <string>/Applications/Siri.app/</string>
      <string>/Applications/LEGO MINDSTORMS Education EV3.app/Contents/MonoBundle/Resources</string>
      <string>/Applications/Utilities/Activity Monitor.app/</string>
      <string>/Applications/Utilities/AirPort Utility.app/</string>
      <string>/Applications/Utilities/Bluetooth File Exchange.app/</string>
      <string>/Applications/Utilities/Boot Camp Assistant.app/</string>
      <string>/Applications/Utilities/Console.app/</string>
      <string>/Applications/Utilities/Disk Utility.app/</string>
      <string>/Applications/Utilities/Keychain Access.app/</string>
      <string>/Applications/Utilities/Migration Assistant.app/</string>
      <string>/Applications/Utilities/Script Editor.app/</string>
      <string>/Applications/Utilities/Terminal.app/</string>
      <string>/Applications/Utilities/X11.app/</string>
      <string>/Library/Application Support/Adobe/Extension Manager CS5.5/</string>
      <string>/Library/Application Support/Adobe/SLStore</string>
      <string>/Library/Application Support/Adobe/SLStore_v1</string>
      <string>/Library/Application Support/Adobe/Bridge CS5.1 Extensions/</string>
      <string>/Library/Application Support/Microsoft/</string>
      <string>/Library/Application Support/regid.1986-12.com.adobe/</string>
      <string>/Library/Application Support/GarageBand/</string>
      <string>/Library/PrivilegedHelperTools/</string>
      <string>/System/Library/CoreServices/Applications/Directory Utility.app/</string>
      <string>/System/Library/CoreServices/Applications/Folder Actions Setup.app/</string>
      <string>/System/Library/CoreServices/Applications/Network Utility.app/</string>
      <string>/System/Library/CoreServices/Applications/RAID Utility.app/</string>
      <string>/System/Library/CoreServices/Applications/Screen Sharing.app/</string>
      <string>/System/Library/CoreServices/Applications/System Image Utility.app/</string>
      <string>/System/Library/CoreServices/Applications/Wireless Diagnostics.app/</string>
    </array>
  </dict>
</plist>
