<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EnabledPreferencePanes</key>
    <array>
      <string>com.apple.Localization</string>
      <string>com.apple.preferences.Bluetooth</string>
      <string>com.apple.preference.desktopscreeneffect</string>
      <string>com.apple.preference.displays</string>
      <string>com.apple.preference.digihub.discs</string>
      <string>com.apple.preference.dock</string>
      <string>com.apple.preference.expose</string>
      <string>com.apple.preference.general</string>
      <string>com.apple.preference.mouse</string>
      <string>com.apple.preference.printfax</string>
      <string>com.apple.preference.sound</string>
      <string>com.apple.preference.trackpad</string>
      <string>com.apple.preference.universalaccess</string>
      <string>com.wacom.PenTabletSettingsPrefPane</string>
      <string>com.wacom.ProfessionalControlPanel</string>
    </array>
    <key>HiddenPreferencePanes</key>
    <array/>
  </dict>
</plist>
