<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>DisabledPreferencePanes</key>
    <array>
      <string>com.apple.configurationprofiles</string>
      <string>com.apple.preferences.sharing</string>
      <string>com.apple.preference.startupdisk</string>
    </array>
    <key>HiddenPreferencePanes</key>
    <array/>
  </dict>
</plist>
